.userNav{
    background-color: white;
    border: 2px solid #FB9EAA;
    padding: 5px;
    border-radius: 10px;
    margin-top: 10px;
    position: absolute;
    right: 86px;
    top: 10px;
}
.iconThree{
    margin-right: 6px;
    font-size: 23px;
    margin-top: 6px;
}
.iconPerson{
    font-size: 28px;
}
.iconUser{
    font-size: 15px;
    margin-right: 6px;
}
.userNavAlreadyLogin h3{
    display: inline;
    margin-right: 10px;
    color: white;
    font-weight: 700;
    font-size: 20px;
}
.userNavAlreadyLogin{
    position: absolute;
    right: 134px;
    top: 21px;
    padding-bottom: 10px;
    padding-left: 10px;
    border-radius: 10px;
}
.userAvatar{
    position: absolute !important;
    right: 83px;
    top: 10px
}