.footerHome{
    background-color: rgba(0, 0, 0, 0.205);
    margin-top: 40px;
}
.footerContent{
    width: 90%;
    margin: auto;
    padding-top: 40px;
    padding-bottom: 40px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.13);
}
.footerContent li{
    list-style: none;
    padding-top: 10px;
}
ul{
    padding-right: 42px;
    padding-left: 0;
}
.footerContent a{
    color: rgba(0, 0, 0, 0.74);
}
.footerContent a:hover{
    color: #f1576b;
    text-decoration: none;
}
li:hover{
    text-decoration: underline;
}
.footerBottom{
    margin: auto;
    width: 90%;
    margin-top: 20px;
}
.dotted{
    font-size: 20px;
    margin: 0 5px;
}
.decoration{
    text-decoration: underline;
    margin-left: 7px;
}
.footerBottom li{
    display: inline;
    margin-right: 25px;
}
.footerBottom ul{
    padding-right: 0;
}
.footerContent h3{
    font-weight: bold;
    margin-bottom: 0;
}
