.container{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: white;
}
.loader{
    left: 18%;
    top: 20%;
    z-index: 999;
    position: absolute;
}