.historyDetail{
    border: 1px solid black;
    margin: auto;
    width: 45%;
    padding: 20px;
    font-size: 17px;
    border-radius: 10px;
}
.historyDetail h2{
    font-size: 24px;
    font-weight: 700;
    color: #f1576b;
    text-align: center;
    margin-top: 7px;
    margin-bottom: 25px;
}
.historyDetailIcon{
    color:#f1576b;
    font-size: 42px;
    border: 2px solid #f1576b;
    text-align: center;
    margin: auto;
    width: 15%;
    border-radius: 10px;
}
.contentFlex{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.contentFlex span{
    margin-bottom: 16px;
}
.historyDetailPrice{
    border-top: 1px solid #BDB9B9;
}
