.navbarHomepage{
    background-color: #FB9EAA;   
    position: relative;
}
.logoHomepage h1{
    font-size: 35px;
    margin-bottom: 0;
    margin-left: 40px;
    color: white;
}
.navbarHomepage .userNav{
    top: -5px;
}
.navbarHomepage .userAvatar{
    top: 2px;
}
.navbarHomepage .userNavAlreadyLogin{
    top: 12px
}
