@import '~antd/dist/antd.css';
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@1,500&display=swap');

.trangChuCarousel{
    background-image: url("../../../../public/img/Wallpaper.jpg");
    height: 580px;
    object-fit: cover;
    background-position: center;
    background-size: cover;
    position: relative;
}
.ant-form-item{
    margin-bottom: 10px;
}
.formTimKiem{
    background-color: white;
    border: 2px solid #FB9EAA;
    width: 65%;
    padding: 10px 0;
    border-radius: 10px;
    margin-left: 140px;
}
.formTimKiemNoiDung{
    margin-left: 34px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.userNav{
    background-color: white;
    border: 2px solid #FB9EAA;
    padding: 5px;
    border-radius: 10px;
    margin-top: 10px;
    position: absolute;
    right: 82px;
    top: 10px
}
.carouselContent{
    margin-top: 60px;
}
h1{
    margin-left: 65px;
    margin-top: 10px;
    margin-bottom: 0;
    font-size: 80px;
    font-family: 'EB Garamond', serif;
}
.buttonSubmit{
    background-color: #FB9EAA;
    border-radius: 15px;
    margin-left: 35%;
}
label{
    font-weight: 700;
}
.ant-btn:hover, .ant-btn:focus{
    border-color: #FB9EAA;
    color: #FB9EAA;
}
.iconUser{
    font-size: 20px;
    margin-right: 8px;
}
.traiNghiemTitle{
    text-align: center;
    margin: 40px 0;
}
.renderCard{
    margin: auto;
    width: 80%;
}
.ant-card{
    margin: 10px 0;
}
.ant-card-body{
    background-color: red;
}
.ant-card-meta-title, .ant-card-meta-description{
    color: white
}
.ant-pagination{
    margin-top: 10px;
    text-align: right;
}